body {
    padding: 0 0 0 30px;
}

.editable, .node {
    font: 900 25px/25px courier new;
    margin: 0;
    padding: 0;
    width: -moz-max-content;
}

textarea.editable {
    border-width: 0;
    color: #ffad83;
    display: block;
    font: 900 25px/25px courier new;
    height: 25px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.contextmenu {
    background-color: #a7cfff;
    bottom: 0;
    height: 160px;
    left: 0;
    margin: auto;
    padding: 0 8px 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
}

.block {
    background-color: #5085cc;
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin: 5px 0 0;
    padding: 2px 10px;
    text-align: justify;
    width: auto;
}

#pre, #next {
    height: 20px;
    line-height: 20px;
    margin: 5px 0;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 10px;
}

#next {
    right: 8px;
}

.block:hover {
    background-color: #1854cc;
}

#close,
ol#history li.close {
    background-color: #ffad83;
    border-radius: 20px;
    position: absolute;
    right: -22px;
    text-align: center;
    top: -30px;
    width: 15px;
}

#close:hover {
    background-color: #ff802b;
}

#load {
    opacity: 0.5;
}

.min {
    height: 25px;
}

.min * {
    display: none;
}

.show, .hide {
    background: #a3a3a3 none repeat scroll 0 0;
    color: #fff;
    font: 900 20px/20px tahoma;
    height: 23px;
    margin: 0 0 0 -28px;
    position: absolute;
    text-align: center;
    width: 23px;
    z-index: 1;
}

.show::after, .hide::after {
    background-color: #a3a3a3;
    border: 1px solid #fff;
    border-radius: 5px 2px 0 0;
    content: "";
    display: block;
    height: 7px;
    left: 18px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    width: 5px;
    z-index: 3;
}

.clot > ul {
    color: #ff802b;
    display: none;
}

.active {
    background-color: #6B6BFF;
    color: #F0F8FF;
}

#dragenter {
    color: #ff802b;
    background-color: #a7cfff;
}

#dragleave {
    color: #a3a3a3;
    background-color: #fff;
}

li {
    list-style: none;
}

ul {
    padding: 0 0 0 30px;
}

.listcontent {
    background-color: #c6b7fb;
    bottom: 0;
    height: 250px;
    left: 0;
    margin: auto;
    padding: 0 15px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    z-index: 1;
}

ol#history {
    background-color: #8c6aff;
    height: 230px;
    left: -30px;
    margin: 5px auto;
    overflow-y: scroll;
    padding: 5px;
    width: 230px;
    z-index: 1;
}

ol#history li {
    list-style: decimal-leading-zero inside;
}

.remove, .clone {
    background-color: #E65615;
    border-radius: 10px;
    display: block;
    height: 16px;
    left: 205px;
    position: absolute;
    text-align: center;
    width: 20px;
    line-height: 16px;
    margin-top: -17px;
}

.clone {
    background-color: #1854cc;
    left: 180px;
}

.remove:hover,
.clone:hover {
    cursor: pointer;
}

.remove:active {
    background-color: #fff;
}

ol#history span.date:hover,
#list {
    background-color: #d5d1ff;
    color: #2B2B2B;
    cursor: pointer;
}

.number {
    display: none;
}

.date {
    color: #fff;
}

ol#history li.close,
ol#history li.opacity {
    top: -10px;
    right: -13px;
    list-style-type: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
}

ol#history li.opacity {
    top: 30px;
    background-color: #ffF;
    height: 75px;
    right: -17px;
    padding: 0 3px;
    border-radius: 20px;
}

.plus, .minus {
    display: block;
    background: #d5d1ff;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px 0;
    border-radius: 25px;
}